@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Gyahegi.otf');
}

body {
    background-color: #E2F1F6;
    color: rgb(54, 54, 54);
    font-family: Roboto, Arial;
    font-size: 20px;
    margin: 0;
}

.portfolio-container {
    /*background-color: rgb(141, 118, 242);*/
    height: 750px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.portfolio-title {
    font-family: 'CustomFont', Arial;
    text-align: left;
    padding: 30px 35px;
    font-size: 34px;
}

.portfolio-section {
    font-family: 'CustomFont', Arial;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
    font-size: 30px;
    text-align: right;
    margin: 0px 40px;
    padding: 32px 30px;
    border: solid 2px rgb(54, 54, 54);
    cursor: pointer;
    transition: box-shadow 0.15s ease;
}

.about-me-section-container {
    display: flex;
    gap: 40px;
}
.about-me-section-container div {
    width: 300px;
}

.about-me-section-container img {
    object-fit: contain;
    height: 400px;
    transition: transform 0.15s ease;
    border-radius: 80px;
}

.about-me-section-container img:hover {
    transform: translateY(-20px);
}

@media screen and (max-width: 800px) {
    .portfolio-container {
        width: 100%;
        height: 550px;
        font-size: 4px;
    }

    .header-text {
        font-size: 12px;
    }

    .portfolio-section {
        font-size: 20px;
        padding: 20px 15px;
        margin: 0px 20px;
    }

    .portfolio-section img {}

    .portfolio-title {
        font-size: 20px;
        padding: 32px 30px;
    }

    .about-me-section-container img {
        height: 300px;
        width: auto;
        margin-bottom: 10px;
    }

    .expand-section div {
        display: flex;
        flex-direction: column;
    }

    .expand-section.expanded {
        font-size: 16px;
    }

    .header {
        height: 90px;
    }
}

.expand-section {
    max-height: 0;
    font-size: 20px;
    text-align: left;
    margin: 10px 40px;
    overflow: hidden;
    line-height: 1.5;
    transition: max-height 0.3s ease-out, transform 0.15s ease;
}

.expand-section.expanded {
    max-height: 10000px;
}

.portfolio-section:hover {
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); */
    transform: translateY(-5px);
}

.portfolio-contacts {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.portfolio-contacts img {
    cursor: pointer;
}

.header-text {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
}

#other-header {
    margin-bottom: 5px;
}

.header-subtext {
    font-size: 20px;
    font-weight: 300;
    margin-top: -15px;
    text-align: center;
}

.subtitle-text {
    margin-bottom: 30px;
}

.project-image {
    width: 800px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;

}

.project-image:hover {
    transform: translateY(-20px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
}

.header {
    background-color: #E2F1F6;
    /*#e2f6ee;*/
    font-family: CustomFont, Roboto;
    font-weight: 300;
    display: flex;
    height: 110px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header-left {
    font-size: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;

}

.typed-text {
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(17),
        cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* .header-left h1{
    font-size: 25px;
} */
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.linked-hyperlink img,
.github-hyperlink img {
    cursor: pointer;
}

.about-project {
    text-align: left;
    margin-bottom: 40px;
}